body{
    background-color: rgb(132, 131, 107);
    color: rgb(219, 232, 255);
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img{
    height: 200px;
}


.title{
    text-align: center;
}

.navigation{
    height: 100px;
    background-color: rgb(87, 94, 107);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 46px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navigation>a{
   color:white;
   text-decoration: none;
   transition: all 0.3s ease;
}
.navigation>a:hover{
    background-color: white;
    color: #3589FF;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6), 0px 0px 10px rgba(53, 137, 255, 0.7);
}

section{
   width: 300px;
   border: 2px solid rgb(143, 190, 244);
   border-radius: 16px;
   padding: 30px;
   margin: auto;
   margin-bottom: 20px;
}

section>h2{
    text-align: center;
}

footer{
    background-color: rgb(58, 103, 187);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
}
button{
    width: 182px;
    background-color: #3589FF;
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border-width: 0;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 14px;
    padding-bottom: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(53, 137, 255, 0.5);
    transition: all 0.3s ease;
}

button:hover{
    background: #1572f3;
    box-shadow: 0px 0px 15px 5px rgba(53, 137, 255, 0.7);
}

.motivational-quote {
    text-align: center;
    font-style: italic;
    color: #555;
    margin: 20px auto;
    padding: 10px;
    font-size: 1.2em;
    max-width: 800px;
    line-height: 1.5;
    border-left: 4px solid #3589FF; /* Línea decorativa a la izquierda */
    background-color: #f9f9f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

